<div id="banner" class="debugger">
	<h1>Greetings <%= current_user.username %></h1>
	<span><%= link_to "Edit Profile", edit_profile_path(current_user) %></span>
	<span><%= link_to "logout", logout_path, {class: "button", method: "delete", action: "destroy" } %></span>
</div>

<h2> YOU ARE IN THE EDIT PROFILE PAGE</h2>