// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#my_hunts, #current_hunts, #sign-up {
	width: 45%;
	height:445px;
	display: inline-block;
}

#all_valid_hunts {
	width: 50%;
	height: 445px;
	display: inline-block;
}


