// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$primary-color: #42A2FF;


#banner {
	background-color: $primary-color;
}

#sign-up {
	width: 200px;
}

#sign-up input{
	width: 100%;

	display: block;
	clear:both;
}