// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$primary-color: #42A2FF;


#banner {
	background-color: $primary-color;
	height: 100px;
}

#sign-up {
	width: 50%;
	float: right;
}

#sign-up input{
	width: 100px;

	display: block;
	clear:both;
}

#login {
	float: right;
	display: inline-block;
	clear:both;
}
